name: YamlCheck

on:
  pull_request:
    branches: [ main, next ]
    paths:
      - public/lists/**
  push: 
    branches: [ main, next ]
    paths:
      - public/lists/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install PyYAML jsonschema
    - name: Validate yml files
      run: |
        python ./scripts/check_yaml.py
  
